<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="teste">
    <head>
        <title>TODO supply a title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <script src="resources/angular/angular.min.js"></script>
        <script src="resources/angular/angular-animate.js"></script>
        <script src="resources/angular/angular-route.min.js"></script>
        <script src="testeController.js"></script>
        
    </head>
    <body >

        <div class="panel panel-default" ng-controller="testeControler">>
            <div class="panel-body">
                <div class="container">
                    <form>
                        <input type="text" class="form-control" ng-model="teste.nome" 
                               placeholder="Nome" required/>
                        <input type="text" class="form-control" ng-model="teste.ra" placeholder="Sobrenome"/>
                        <button class="btn btn-default btn-lg btn-block" style="width: 120px;" ng-click="salvar()">
                            <span class="glyphicon glyphicon-floppy-disk">
                                Salvar
                        </button>
                    </form>
                    <table class="table table-striped">
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Alterar</th>
                            <th>Excluir</th>
                        </tr>
                        <tr ng-repeat="item in listagem">
                            <td>{{item.ra}}</td>
                            <td>{{item.nome}}</td>
                            <td>{{item.serie}}</td>
                            <td>
                                <button class="btn btn-default btn-lg btn-block" ng-click="alterar(item)" style="width: 60px;">
                                    <span class="glyphicon glyphicon-pencil">
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-lg btn-block" ng-click="excluir(item)" style="width: 60px;">
                                    <span class="glyphicon glyphicon-trash">
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </body>
</html>
